article {
  clear: both;
  display: table;
  box-sizing: border-box;
  border: #342309 medium solid;
  border-radius: 40px;
  padding: 0px;
  margin: 35px auto;
  background-color: #FFF1DC;
  width: 90%;
}

article h2 {
  margin-top: 0;
  padding: 10px;
  text-align: center;
  background-color: #FB9902;
  border-radius: 37px 37px 0px 0;
}

article div {
  margin: 50px;
}

figure {
  float: left;
  width: 40vw;
  margin: 2vh 0;
}

article:nth-child(even) > figure {
  float: right;
}

figure img {
  display: block;
  height: 240px;
  width: 240px;
  margin-left: auto;
  margin-right: auto;
}

figcaption {
  text-align: center;
  clear: both;
}