/* Default styling for all pages */
/* 
  Light cream color for body, set default font-family, font-size, and line-height. Gets rid of margin around entire page.
*/
body {
  background-color: #FFF1DC;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

/* Layout for header */
.mainHeader {
  padding: 60px 30px 30px 30px;
  text-align: center;
}

/* Orange color for header and footer background, brown color for text */
.mainHeader, 
footer {
  background-color: #FB9902;
  color: #342309;
}

/* Page titles are largest font and italic */
.mainHeader h1 {
  font-size: 60px;
  font-style: italic;
}

/* START OF SPECIAL STYLING FOR NAV */
/* Set nav to sticky or fixed */
.topnav {
  position: fixed;
  padding-left: 30px;
}

/* Add a brown background color to the top navigation, 100% width, in front of everything else on webpage */
.topnav {
  background-color: #342309;
  overflow: hidden;
  width: 100%;
  z-index: 999;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #FFF1DC;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #FFF1DC;
  color: #342309;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #975B02;
  color: #FFF1DC;
}
/* END OF SPECIAL STYLING FOR NAV */

/* Light cream color for main section of pages, padding */
main {
  background-color: #FFF1DC;
  padding: 15px 30px 30px 30px;
}

/* START OF SPECIAL STYLING FOR QUOTE ON INDEX PAGE */
/* Centers entire block, sets max width */
#quoteBlock {
  margin-left: auto;
  margin-right: auto;
  max-width: 850px;
}

/* Styling for big quotation marks */
#topQMark,
#botQMark {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 150px;
  line-height: 0.6em;
  opacity: 0.2;
}

#botQMark {
  text-align: right;
}

/* Styling for quote */
#quote {
  margin-top: -40px;
  text-align: center;
}

/* Styling for citation */
#quoteAuthor {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 12px;
  text-align: right;
}
/* END OF SPECIAL STYLING FOR QUOTE ON INDEX PAGE */

/* Centers table on index page, adds max width */
table {
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
}

/* Adds extra padding in unordered lists on index and FAQ pages */
.listSpan {
  padding-left: 15px;
}

/* START OF SPECIAL FORMATTING FOR FAQ PAGE */
/* Sets no padding for main section of FAQ page to allow FAQ headings to stretch all the way across the page */
#wideMain {
  padding: 0 0 30px 0;
}

/* Styling for ol at the top of the FAQ page */
#faqList ol {
  padding-top: 15px;
  padding-inline-start: 100px;
  padding-inline-end: 30px;
  padding-bottom: 30px;
}

/* Styling for data list questions on FAQ page. */
#qAndAs dt {
  padding: 0 30px 0 30px;
  background-color: #FB9902;
  color: #342309;
  font-size: 30px;
}

/* Styling for data list answers on FAQ page. */
#qAndAs dd {
  padding-top: 30px;
  padding-inline-start: 70px;
  padding-inline-end: 30px;
  margin-inline-start: 0px;
  font-size: 20px;
  line-height: 2;
}

/* Styling for invisible anchors used for jumping from ol list to a specific question in the data list.  */
/* Without these anchors, part of the question would be covered by the nav bar after jumping to the question. */
.anchor {
  display: block;
  visibility: hidden;
  position: relative;
  height: 54px;
}
/* END OF SPECIAL FORMATTING FOR FAQ PAGE */

/* Brown color for section headings */
h2, 
h3 {
  color: #342309;
}

/* Set font size for all h2 headings */
h2 {
  font-size: 30px;
}

/* Set font size for all h3 headings */
h3 {
  font-size: 20px;
}

/* Slightly brown color for all text in main element */
main {
  color: #342309;
}

/* Styling for images on gallery page. Applies a thin brown border. */
main img {
  border-style: solid;
  border-width: 1px;
  border-color: #342309;
}

/* START OF SPECIAL STYLING FOR FAQ LINKS */
/* 
  Applied to ordered list links and "Back to Top" links. Brown color for links (light brown color if previously visited), italics to indicate active or hover.
*/
.faqLink:link {
  color: #342309;
}

.faqLink:visited {
  color: #975B02;
}

.faqLink:active, 
.faqLink:hover {
  font-style: italic;
}
/* END OF SPECIAL STYLING FOR FAQ LINKS */

/* START OF SPECIAL STYLING FOR EXTERNAL MAIN LINKS */
/* 
  Applied to citations in the main element of index, FAQs, and gallery pages. Brown color for external main links (light brown color if previously visited), italics goes away to indicate hover or active.
*/
.mainExtLink:link {
  color: #342309;
}

.mainExtLink:visited {
  color: #975B02;
}

.mainExtLink:active, 
.mainExtLink:hover {
  font-style: normal;
}
/* END OF SPECIAL STYLING FOR EXTERNAL MAIN LINKS */

/* Extra spacing for form info block on contact-us page, sets max width */
#formInfo {
  margin-top: 15px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}

/* Centers fieldset and sets max width */
fieldset {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}

/* Gives extra padding to form */
#emailForm {
  padding-bottom: 15px;
}

/* Custom styling for textboxes in form */
#name,
#email,
#phone,
#topic,
#messageBody {
  width: 500px;
  border-color: #342309 !important;
}

/* Custom styling for textboxes on focus in form */
#name:focus,
#email:focus,
#phone:focus,
#topic:focus,
#messageBody:focus {
  outline: none !important;
  border: 2px solid #342309 !important;
}

/* Puts more space before special headings in form, no space after */
#contactHead,
#topicHead,
#messageHead {
  margin-top: 30px;
  margin-bottom: 0px;
}

/* Puts options closer to special headings in form */
.firstOption {
  margin-top: 10px;
}

/* Controls accent colors on radio buttons and checkboxes in form */
.accent {
  accent-color: #b16b02;
}

/* Puts extra space before 2nd section of form */
#yourMessageHead {
  margin-top: 15px;
}

/* Ensures no extra space after "Message Type" heading in form */
#typeHead {
  margin-bottom: 0px;
}

/* Removes extra space before dropdown box and textarea in form */
#dropdown,
#bigTextBox {
  margin-top: 0px;
}

/* Puts extra space before submit and clear buttons in form */
#buttons {
  margin-top: 20px;
}

/* Controls width of submit and clear buttons in form */
#sub,
#res {
  width: 49.7%;
}

/* Styling for footer links */
.footlinks:link {
  color: #342309;
  text-decoration: none;
}

/* Styling for active/hover footer links */
.footlinks:active,
.footlinks:hover {
  color: #FFF1DC;
}

/* Styling for top section of footer */
#foot1 {
  padding: 5px 30px;
  background-color: #342309;
  color: #FFF1DC;
}

/* Styling for bottom section of footer */
#foot2 {
  padding: 30px;
  text-align: center;
}

/* Overrides default text color used with w3-sand */
.w3-sand {
  color: #342309 !important;
}