/* Default styling for all pages */
/* 
  Light cream color for body (surrounds entire webpage and in-between individual elements), set default font-family, font-size, and line-height. Gets rid of margin around entire page.
*/
body {
  background-color: #FFF1DC;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

/* Layout for header */
header {
  padding: 60px 30px 30px 30px;
  text-align: center;
}

/* Orange color for header and footer background, brown color for text */
header, 
footer {
  background-color: #FB9902;
  color: #342309;
}

/* Page titles are largest font and italic */
header h1 {
  font-size: 60px;
  font-style: italic;
}

/* START OF SPECIAL STYLING FOR NAV */

/* Set nav to sticky or fixed */
.topnav {
  position: fixed;
  padding-left: 30px;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #342309;
  overflow: hidden;
  width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #FFF1DC;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #FFF1DC;
  color: #342309;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #975B02;
  color: #FFF1DC;
}

/* END OF SPECIAL STYLING FOR NAV */

/* Light cream color for main section of pages */
main {
  background-color: #FFF1DC;
  padding: 15px 30px 30px 30px;
}

/* Centers and adds borders to table on home page */
table, 
th, 
td {
  margin-left: auto;
  margin-right: auto;
  border: 1px #342309 solid;
  border-spacing: 2px;
}

/* Padding for cells of table on home page */
th, 
td {
  padding: 5px;
}

/* START OF SPECIAL FORMATTING FOR FAQ PAGE */
#wideMain {
  padding: 0 0 30px 0;
}

#faqList ol {
  padding-top: 15px;
  /* 
  padding-inline-start: 55px;
  padding-inline-end: 30px;
  */
  padding-inline-start: 100px;
  padding-inline-end: 30px;
  padding-bottom: 30px;
}

#qAndAs dt {
  padding: 0 30px 0 30px;
}

#qAndAs dd {
  padding-top: 30px;
  padding-inline-start: 70px;
  padding-inline-end: 30px;
  margin-inline-start: 0px;
}

.anchor {
  display: block;
  visibility: hidden;
  position: relative;
  height: 54px;
}
/* END OF SPECIAL FORMATTING FOR FAQ PAGE */

/* Brown color for section headings */
h2, 
h3 {
  color: #342309;
}

/* Set font size for all h2 headings */
h2 {
  font-size: 30px;
}

/* Set font size for all h3 headings */
h3 {
  font-size: 20px;
}

/* Slightly off-black color for all text in main element */
main {
  color: #342309;
}

/* 
  Styling for main unordered lists - on index and FAQ pages. Turns default bullet points into musical notes
*/
ul {
  list-style-image: url(../images/musical-note-icon-12px.png);
}

/* Styling for images on gallery page. Applies a thin brown border. */
main img {
  border-style: solid;
  border-width: 1px;
  border-color: #342309;
}

/* START OF SPECIAL STYLING FOR FAQ LINKS AND FOOTER LINKS */
/* 
  Applied to ordered list links, "Back to Top" links, and footer links. Brown color for links (burnt brown color if previously visited), italics to indicate active or hover.
*/
.faqLink:link, 
.footlinks:link {
  color: #342309;
}

.faqLink:visited {
  color: #975B02;
}

.faqLink:active, 
.faqLink:hover, 
.footlinks:active, 
.footlinks:hover {
  font-style: italic;
}
/* END OF SPECIAL STYLING FOR FAQ LINKS AND FOOTER LINKS */

/* 
  Styling for data list questions on FAQ page. Applies background and font colors that match header/footer background and font color, 30px and bold font.
*/
dt {
  background-color: #FB9902;
  color: #342309;
  font-size: 30px;
  font-weight: bold;

}

/* Styling for data list answers on FAQ page. Applies 20px font size and extra spacing between lines. */
dd {
  font-size: 20px;
  line-height: 2;
}

/* START OF SPECIAL STYLING FOR EXTERNAL MAIN LINKS */
/* 
  Applied to citations in the main element of index, FAQs, and gallery pages. Brown color for external main links (burnt brown color if previously visited), italics goes away to indicate hover or active.
*/
.mainExtLink:link {
  color: #342309;
}

.mainExtLink:visited {
  color: #975B02;
}

.mainExtLink:active, 
.mainExtLink:hover {
  font-style: normal;
}
/* END OF SPECIAL STYLING FOR EXTERNAL MAIN LINKS */

/* Styling for top section of footer */
#foot1 {
  padding: 5px 30px;
  background-color: #342309;
  color: #FFF1DC;
}

/* Styling for bottom section of footer */
#foot2 {
  padding: 30px;
  text-align: center;
}