/* Default styling for all pages */
/* 
  Darker cream color for body (surrounds entire webpage and in-between individual elements), set default font-family, font-size, and line-height
*/
body {
  background-color: #ebd5ab;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

/* Orange color for header and footer background */
header, 
footer {
  background-color: #f69f39;
}

/* Brown color for page titles, largest font */
header h1 {
  color: #4c3112;
  font-size: 40px;
}

/* Lighter cream color for main section of pages */
main {
  background-color: #f0ece9;
}

/* 
  Nav background matches page titles, vertical lines match header/footer background, 25px 
*/
nav {
  background-color: #4c3112;
  color: #f69f39;
  font-size: 25px;
}

/* START OF SPECIAL STYLING FOR NAV BAR LINKS */
/* 
  Applied to nav links for all pages. Font colors do not change (orange color matches header/footer background), no underlines, 25px, font will bold to show active or hover. 
*/
.navbar {
  color: #f69f39;
  font-size: 25px;
  text-decoration: none;
}

.navbar:link,
.navbar:visited,
.navbar:active,
.navbar:hover {
  color: #f69f39;
}

.navbar:hover {
  font-weight: bold;
}
/* END OF SPECIAL STYLING FOR NAV BAR LINKS */

/* Brown color for section headings */
h2, 
h3 {
  color: #4c3112;
}

/* Set font size for all h2 headings */
h2 {
  font-size: 30px;
}

/* Set font size for all h3 headings */
h3 {
  font-size: 20px;
}

/* Slightly off-black color for all text in main element */
main {
  color: #352a27;
}

/* 
  Styling for main unordered lists - on index and FAQ pages. Turns default bullet points into musical notes
*/
ul {
  list-style-image: url(../images/musical-note-icon-12px.png);
}

/* 
  Styling for horizontal rules in main element - separates groups of elements in gallery. Sets color to match the body background color and height to 2px.
*/ 
main hr {
  background-color: #ebd5ab;
  border: none;
  height: 2px;
}

/* Styling for images on gallery page. Applies a thin brown border. */
main img {
  border-style: solid;
  border-width: 1px;
  border-color: #4c3112;
}

/* START OF SPECIAL STYLING FOR FAQ LINKS AND FOOTER LINKS */
/* 
  Applied to ordered list links, "Back to Top" links, and footer links. Brown color for links (burnt brown color if previously visited), italics to indicate active or hover.
*/
.faqLink:link, 
.footlinks:link {
  color: #4c3112;
}

.faqLink:visited, 
.footlinks:visited {
  color: #7d1c0b;
}

.faqLink:active, 
.faqLink:hover, 
.footlinks:active, 
.footlinks:hover {
  font-style: italic;
}
/* END OF SPECIAL STYLING FOR FAQ LINKS AND FOOTER LINKS */

/* 
  Styling for data list questions on FAQ page. Applies background and font colors that match header/footer background and font color, 30px and bold font.
*/
dt {
  background-color: #f69f39;
  color: #4c3112;
  font-size: 30px;
  font-weight: bold;

}

/* Styling for data list answers on FAQ page. Applies 20px font size and extra spacing between lines. */
dd {
  font-size: 20px;
  line-height: 2;
}

/* START OF SPECIAL STYLING FOR EXTERNAL MAIN LINKS */
/* 
  Applied to citations in the main element of index, FAQs, and gallery pages. Brown color for external main links (burnt brown color if previously visited), italics goes away to indicate hover or active.
*/
.mainExtLink:link {
  color: #4c3112;
}

.mainExtLink:visited {
  color: #7d1c0b;
}

.mainExtLink:active, 
.mainExtLink:hover {
  font-style: normal;
}
/* END OF SPECIAL STYLING FOR EXTERNAL MAIN LINKS */

/* Set font color for footer text, brown font color matches header text */
footer {
  color: #4c3112;
}

/* Styling for hr in footers. Sets color to match surrounding text and height to 1px */
footer hr {
  height: 1px;
  background-color: #4c3112;
  border: none;
}